<div #container class="container007"  >
    <div class="example-box" cdkDrag [cdkDragBoundary]="container">  <!-- cdkDrag แค่แปะให้ element ก็สามารถทำให้ลากไปมาได้เลย-->
                                                                    <!-- cdkDragBoundary คือการกำหนดว่าให้ element ลากได้อยู่ในกรอบนี้ แล้วกรอบอะไร? ก็กรอบที่ครอบ element นีั้อยู่ก็คือ container-->
        Drag me around
      </div>
      <br>
      <br>
      <img cdkDrag style="width: 300px; height: 200px;" class="qck-box"   src="https://www.gump.in.th/uploaded_files/images/SteelSeries/qck%20pic1.jpeg" alt="">
  </div>